@import '../abstract/variables';

.menu {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.menu {
    ul {
      display: flex;
      gap: 80px;
        a {
          color: $secondary-color;
          font-weight: 600;
          font-size: 24px;
        }
    }
}
