$primary-color: #F6F6F6;
$secondary-color: #22D4FD;
$tertiary-color: #272727;
$quaternary-color: #000000;

$background-color: #000000;

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Krona One', sans-serif;
